@import "../../../assets/scss/mixin";
@import "../../../assets/scss/variables";
@import "../../../assets/scss/base";

.container {
  height: 100%;
  display: flex;
  background-color: $white-color;
  flex: 1;

  .mode {

  }
}
