@import "../../../assets/scss/mixin";
@import "../../../assets/scss/variables";
@import "../../../assets/scss/base";

.container {
  height: 100%;
  display: flex;

  .mode {
    height: 100%;
    width: 290px;
    background-color: #F3F3F3;
  }

  .detail {
    height: 100%;
    background-color: $white-color;
    flex: 1;
  }

  .property {
    height: 100%;
    width: 290px;
    background-color: #F5F5F5;


    h3 {
      height: 40px;
      line-height: 40px;
      color: $gray-color;
      font-size: $small-font-size;
      font-weight: $font-weight-medium;
      text-align: center;
      box-shadow: 0 0 16px -5px rgba(0,0,0,.2);
    }


    .propertyContent {
      padding: 15px;

      .item {
        height: 30px;
        line-height: 30px;
        margin-bottom: 10px;
      }

      .inputItem {
        //height: 30px;
        //line-height: 30px;
        margin-bottom: 10px;

        .key {
          margin-bottom: 10px;
        }
      }

      .key {
        color: $gray-color-ultra-dark;
        font-weight: $font-weight-normal;
      }

      .value {
        padding-left: 5px;
        overflow: hidden;
        color: $gray-color;
        font-weight: $font-weight-normal;
      }
    }
  }
}
