@import "../../../assets/scss/mixin";
@import "../../../assets/scss/variables";
@import "../../../assets/scss/base";

.container {
  height: 100%;
  display: flex;

  .mode {

  }

  .detail {
    height: 100%;
    background-color: $white-color;
    flex: 1;
  }

}
