@import "../../../../assets/scss/mixin";
@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/base";


.editor canvas {
  display: block;
  height: 100%;
}
.editor{
  height: 100%;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  .itemPanel {
    height: 100%;
    width: 290px;
  }

  .spin {
    flex: 1;
    height: 100%;

    :global {
      .ant-spin-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }

    .canvas {
      flex: 1;
      height: 100%;
    }

    .detail {
      height: 100%;
      width: 290px;
      display: flex;
      flex-direction: column;
      //justify-content: space-between;

      .propertyPanel {
        flex: 1;
      }
    }
  }


}
