@import "../../../../../assets/scss/mixin";
@import "../../../../../assets/scss/variables";
@import "../../../../../assets/scss/base";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
